/* Empty. Add your own CSS if you like */
.card .item{
  background: #FAFAFA;
}
.item{
  background: #FAFAFA;
}
.menu{
  background: #F2F2F2;
}
.log{
  background: #F2F2F2;
}
.loga{
  background: #D8D8D8;
}
.li{
	width:auto; /* you can use % */
    height: auto;
}